<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
		var id = '{{ include.id }}'
		var twtslsh = encodeURI(id);
        var twturl = 'https://noembed.com/embed?url=' + twtslsh + '.json'
        $.getJSON(twturl, function(result){
            $.each(result, function(i, field){
                $("twt").html(field);
                if(i == 'html'){
                return false;
                }
            });
        });
//$("div").prepend(twturl);
});
</script>
</head>
<body>



<twt></twt>

</body>
</html>
