body {
  font-family: monospace;
  font-size: 100%;
  background-color: white;
  color: #111;
  width: 80%;
  min-width: 400px;
  min-height: 200px;
  padding: 1em;
  margin: 5% 10%;
  border: thin solid gray;
  border-radius: 5px;
  display: block;
}

a:link    { color: blue; text-decoration: none;      }
a:hover   { color: blue; text-decoration: underline; }
a:visited { color: blue;                             }

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }

#menu li {
    display: inline;
}

#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
}

pre {
    margin: 2em 1em 2em 4em;
    white-space: pre-wrap;
}

.infinite-spinner {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;
  display:none;
  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
.gh-promo {
 position:fixed;
 top:0;
 right: 0;
}
.p_num{
  float:left;
  margin-left: -28px;
  margin-top: 6px;
  font-weight: normal;
  font-size: 14px;
}
.date {
  //border-bottom: 1px dotted #000;
  //text-decoration: none;
  text-decoration:underline;
  text-decoration-style: dotted;
}
.author{
 text-decoration:none;
 text-decoration-style:unset;
 border-bottom: 0px solid currentColor;
}
