---
layout: default
---



<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="content">
    <center><h2>
      <a class="post-link"
         href="{{ site.url | prepend: site.baseurl }}/index.html">
        		    
                {{ page.title }}
      </a>
    </h2>
</center>
    <div class="post-content">
      {{ page.content }}
    </div>
    <div class="post-meta">
      <div class="post-meta-data">
        {{ post.date | date: "%a. %-d %B %Y" | downcase }}
      </div>
    </div>
  </div>
</article>
